.alert {
  background: #444;
  box-shadow: 4px 4px 0px #ccc;
  color: white;
  display: block;
  font-weight: 400;
  margin: 75px auto 20px auto;
  max-width: 700px;
  padding: 20px 10px;
  text-align: center;
}

.alert h2 {
  margin: 0 0 20px 0;
  text-transform: capitalize;
}

.alert.oh-no {
  background: #d55c52;
}

.alert.yeah {
  background: #6ad568;
}
