.cover {
  background-image: url('../assets/graph.png');

  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -10;
  margin: 0px 0;
}

.logo {
  display: inline-block;
  width: 250px;
  height: 210px;
  padding: 10px;
  font-size: 70px;
  background: #444;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  box-shadow: 4px 4px 0px #ccc;
}

.onwards {
  margin-top: 20px;
}

.cover a,
.cover button span {
  text-decoration: none;
  margin: 4px;
  display: inline-block;
  background: #444;
  color: #ddd;
  padding: 4px;
  border-radius: 2px;
  min-width: 210px;
  text-align: center;
  box-shadow: 4px 4px 0px #ccc;
  font-size: 18px;
}

/* .cover button {
} */

.cover a:hover,
.cover button span:hover {
  color: #fff;
  box-shadow: 5px 5px 0px #ccc;
}
