.homes {
  margin: 75px auto;
  text-align: center;
}

.homes .home {
  display: block;
  max-width: 380px;
  background-color: #444;
  color: white;
  box-shadow: 5px 6px #d2d2d2;
  line-height: 25px;
  cursor: pointer;
  margin: 10px auto;
  padding: 1px;
}

.home .address {
  margin: 10px;
}
