.list table {
  margin: 50px auto;
}

.list table th {
  text-align: left;
}

.list table td {
  padding: 5px 2px;
}

.list .btn-view {
  text-decoration: none;
  cursor: pointer;
  background: #444;
  padding: 2px 9px;
  border-radius: 2px;
  color: white;
}

.list .btn-view:hover {
  background-color: #676767;
}

.list .copy-link {
  cursor: pointer;
  position: relative;
}

.list .copy-link:hover .popover {
  display: block;
}

.list .popover {
  display: none;
  position: absolute;
  background: #444;
  color: white;
  padding: 4px;
  margin: -48px -25px;
  border-radius: 2px;
  font-size: 0.6rem;
}

@media (min-width: 600px) {
  .list table {
    margin: 70px auto;
    width: 70%;
    max-width: 750px;
  }
}
