.screen {
  background-color: white;
  margin: 50px 0px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-height: 30vh;
}

.screen p {
  text-align: left;
  padding: 0px 10px;
}

.screen h1,
.screen h2,
.screen h3,
.screen h4 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .screen {
    min-height: 90vh;
  }

  .screen p {
    max-width: 55%;
  }
}
