.info-box {
  margin: 0px 10px;
}
.info-box dd {
  margin-inline-start: 0px;
  font-size: 1.8rem;
}
.info-box dl {
  margin: 0px auto 25px auto;
}
.info-box dt {
  line-height: 3rem;
}

@media screen and (min-width: 700px) {
  .info-box {
    width: 700px;
  }
  .info-box dl {
    width: 100%;
  }

  .info-box .col {
    width: 50%;
    float: left;
  }
}

.fine-print {
  font-size: 0.7rem;
  font-style: italic;
  line-height: 15px;
  margin-top: 6px;
}
.how-did-i-do {
  font-size: 0.9rem;
  line-height: 1.1rem;
}
label.currency,
label.consumption {
  background: #444;
  box-shadow: 4px 4px 0px #ccc;
  color: white;
  display: block;
  font-weight: 700;
  width: 95%;
  margin: 0px auto;
  line-height: 50px;
  padding: 4px;
  text-align: center;
}
label.hour-cost {
  background: #2fb8ca;
}
label.spot-cost {
  background: #2358dd;
}
label.nice {
  background: #6ad568;
}
label.ouch {
  background: #d55c52;
}
